doctype html
html(lang="en")
  head
    title #{title}
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    link(rel="shortcut icon" href="http://icons.iconarchive.com/icons/icons8/ios7/256/Clothing-Shorts-icon.png" type="image/x-icon")
    link(href="../public/style.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  body
    div.main
      block header
        div.header
          h1 Image Search
      block content
        div.content
          p Insert information about how it works
      block footer
        div.footer
          p Made by Beaniehead