body {
  font-family: 'Roboto', sans-serif;
  height:100vh;
}

.main {
  height:100%;
  display:grid;
  grid-template-columns:minmax(200px, max-content);
  grid-template-rows:100px 1fr 100px;
  margin:15px;
}

.content{
display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(6, auto);
  grid-gap:10px;
  align-items:start;
}
.code{
border:1px solid gray;
  padding:10px;
  margin:10px;
  background-color:#E2EEF3;
}

.subHead{
grid-area:1/1/2/3;
}

.subHead2{
  grid-area:4/1/5/3;
}


p, .code{
 overflow-wrap: break-word;
  word-wrap: break-word;
}

hr {
 border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}